---------------------------------------------------------------------
-- Import CTEs
---------------------------------------------------------------------

---------------------------------------------------------------------
-- Logical CTEs
---------------------------------------------------------------------

---------------------------------------------------------------------
-- Final CTE
---------------------------------------------------------------------
