{{ DBT_PROFILE_NAME }}:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: {{ SNOWFLAKE_ACCOUNT }}
      role: {{ SNOWFLAKE_ROLE }}

      user: {{ SNOWFLAKE_USERNAME }}
      password: {{ SNOWFLAKE_PASS }}

      database: {{ SNOWFLAKE_DB }}
      warehouse: {{ SNOWFLAKE_WH }}
      schema: {{ SNOWFLAKE_SCHEMA }}
      threads: 200

local_{{ DBT_PROFILE_NAME }}:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: {{ SNOWFLAKE_ACCOUNT }}
      role: {{ SNOWFLAKE_ROLE }}

      user: {{ SNOWFLAKE_USERNAME }}
      password: <TODO - KEYPATH_HERE>

      database: {{ SNOWFLAKE_DB }}
      warehouse: {{ SNOWFLAKE_WH }}
      schema: {{ SNOWFLAKE_SCHEMA }}
      threads: 200
